<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confirmation - Capital Oneder</title>
  </head>
  <body>
    <h2>Congratulations, you are now a citizen of Capital Oneder</h2>

    <output name="citizenship_id" id="citizenship_id" >CAPONE123</output>
  </body>
</html>
