<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Capital Oneder</title>
  </head>
  <body>

    <form action="/index.html" method="post" id="citizen_form">
      <input type="text" name="Salutation" placeholder="Salutation" id="Salutation" required><br><br>
    </form>

  </body>
</html>
