<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <title>Home - Capital Oneder</title>
  </head>
  <body >
    <div class="main-body">
      <h2>Capital Oneder citizenship application</h2>

      <form action="/registration" method="post" id="citizen_form">
        <input type="text" name="Salutation" placeholder="Salutation" id="Salutation" required><br><br>
        <input type="text" name="First_Name" placeholder="First Name" id="First_Name" required><br><br>
        <input type="text" name="Last_Name" placeholder="Last Name" id="Last_Name" required><br><br>
        <input type="text" name="Previous_Country" placeholder="Previous Country" id="Previous_Country" required><br><br>
        <input type="text" name="Gender" placeholder="Gender" id="Gender" required><br><br>
        <input type="submit" value="Submit"><br><br>
      </form>
    </div>
  </body>
</html>
